<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Veri tabanı bağlantısı için gerekli olan ConnectionString verisidir. Varsayılan veri tabanı olarak eflow veri tabanını işaret etmelidir -->
    <add name="EFlowConnection" connectionString="Initial Catalog=eflow;Data Source=.;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="ServisAdresi" value="http://127.0.0.1:4321" /> <!-- Servisin yayın yapacağı URL bilgisidir. Girilen port güvenlik duvarından izin verilmiş olmalıdır -->
    <add key="GecikmeliBaslat" value="E" /> <!-- Evet ise E, Hayır ise H harfi girilebilir -->
    <add key="KullaniciTuru" value="LocalSystem" /> <!-- Servisin Başlatılacağı kullanıcı bilgisi. Detaylar için dokümanı inceleyin. https://github.com/buraktuncbilek/eflowDirektLinkService-->
    <add key="Kullanici" value="WindowsKullanıcıAdı" /> <!-- Domain\Kullanıcı veya kullanıcı@doamin.com formatında girilebilir -->
    <add key="Parola" value="WindowsKullanıcıParolası" /> <!-- Windows kullanıcısının parola bilgisi -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

</configuration>